@import "compass/reset";
@import "compass/css3";

@import "partials/_base";
body{
	font-family: 'Dosis', sans-serif;
}
header{
	height: 270px;
	
	//childs
	h1{
		background-color:#fff;
		border-bottom: 1px solid #BBBBBB;
		padding: 5px 20px 10px 20px;
	}
	nav{
		position: absolute;
		right: 20px;
		top:5px;
		li{
			display: inline-block;
			&:after
				{
				content: " /";
				}
			&:last-child:after
				{
				content: "";
				}
		}
	}
	h2{
		//CRIAR COMPATIBILIDADE COM O IE!!!!
		background: inline-image("../img/estilo/linha-preta.png", 'image/png'), inline-image("../img/estilo/fotografia.png", 'image/png') no-repeat 10px, inline-image("../img/estilo/curso.png", 'image/png') no-repeat right;
		//background: url("../img/estilo/linha-preta.png"), url("../img/estilo/fotografia.png", 'image/png') no-repeat 10px;
		height:190px;
		text-align:right;
		padding: auto 20px;
		font-size: 0px;
	}
	h3{
		text-align:right;
		padding: 0 20px;
	}
}

section{
	height: 400px;
	width: auto;
	#trabalhos{
	ul{
		li{
			vertical-align: middle;
			margin: 0px 10px;
			padding: 10px;
			display: block;
			float: left;
			border: 1px solid #BBBBBB;
			background: {
				color: white;
				repeat: no-repeat;
				position: center;
			}
			a{
				display:block;
				height:55px;
				overflow: hidden;
				padding-top:400px;
				color: black;
				text-decoration: none;
				@include single-transition(padding, 0.5s, ease-out);
				&:hover{
					padding-top:315px;
					@include single-transition(padding, 0.5s, ease-out);
				}
			}
			}
		}
	}
}
.nome, .sobrenome{

}
.nome{
	font-weight: bold;
}
.titulo{
	display:block;
	border-top: 3px solid black;
}
.clearfix {
	float: none;
	clear: both;
}
@each $author in $lista{
    ##{nth($author, 1)}{
	background: url("../img/trabalhos/menu/#{nth($author, 1)}.jpg");
	width:#{nth($author, 2)}px;
	height:#{nth($author, 3)}px;
/*	a{
			height:#{nth($author, 3)}px;
	}
*/
	}
}

#next, #prev{
	cursor: pointer;
	position: absolute;
	top: 420px;
}
#next{
	right: 30px;
}
#prev{
	left: 30px;
}
#editorial{
	width: 40%;
	h3{
	font-size: 18pt;
	border-bottom: 3px solid black;
	margin-bottom:5px;
	}
}
#studium{
	padding: 0px 200px 30px 200px;
	h3{
		font-size: 18pt;
		border-bottom: 3px solid black;
		margin-bottom:5px;
	}
	h4{
		font-size: 16pt;
		padding-top:10px;
		&:last-child{
			border-bottom: 3px solid black;
			padding-bottom: 10px;
		}
	}
	dd, dt, p{
		margin-left: 15px;
	}
	dt, p{
		font-weight: bold;
		margin-top:10px;
	}
}
footer{
	text-align:right;
	margin-top: 10px;
	padding: 10px 20px;
	border-top: 7px solid black;
	h4{
		margin-bottom: 10px;
	}
	a{
		margin-left: 10px;
	}
	.licence{
		border-top: 2px solid black;
		margin-top: 10px;
		padding-top: 5px;
			a{
				margin-left: 0;
				img{
				vertical-align:top;
				}
			}
	}
}