body{
	margin:0;
	background-image: url("b.jpg");
}
header h1, header h2{
	margin:0;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	padding-right: 15px;
	text-align:right;
}
header h1{
	font-family: 'Wire One', sans-serif;
	font-size: 64px;
	line-height: 1.23;
	background-image: url("b.jpg");
	padding-top: 3em;
	border-bottom:2px solid #AAA;
}
header h2{
	font-family: 'Rokkitt', serif;
	font-size: 1.5em;
	line-height: 1.4;
	background-image: url("a.jpg");
}
header nav{
	position: absolute;
	top: 10px;
	right: 50px;
}
section{
	background-image: url("a.jpg");
	height: 320px;
}
ul{
	margin: 0;
}
header ul li{
	font-family: 'Rokkitt', serif;
	display:block;
	float:left;
	font-size:1.5em;
	height:25px;
	text-align:center;
	width:125px;
	color: #555;
}
header ul li:first-child{
	border-right:1px solid #BBBBBB;
}
header ul li:last-child{
	border-left:1px solid #BBBBBB;
}
#trabalhos{
	display: block;
	height:300px;
	overflow: hidden;
}
#trabalhos img{
padding: 10px;
border: 1px solid #BBBBBB;
margin: 20px 7px;
background-color: white;
}
footer{
	border-top:2px solid #AAA;
}
footer p{
	text-align:right;
	padding-right: 15px;
}