$fundo-geral: gray;
$fundo-conteudo: white;

$base-font-size:10pt;

$menu-revista-border:1px solid #BBBBBB;
//listagem de id's do menu: nome_do_arquivo.jpg = id do <li>
$lista: bia isa jean lu lud myho nat samuca;