$fundo-geral: gray;
$fundo-conteudo: white;

$base-font-size:10pt;

$menu-revista-border:1px solid #BBBBBB;

//listagem de id's do menu: nome_do_arquivo.jpg = id do <li> w / h
$lista: bia 450 300, isa 450 300, jean 154 300, lu 428 300, lud 200 300, myho 375 300, nat 400 300, samuca 530 300, pri 534 300, catto 300 300;