/* line 3, ../sass/jean.scss */
#t1 {
  background: url("../img/trabalhos/jean/t1.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}

/* line 3, ../sass/jean.scss */
#t2 {
  background: url("../img/trabalhos/jean/t2.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}

/* line 3, ../sass/jean.scss */
#t3 {
  background: url("../img/trabalhos/jean/t3.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}

/* line 3, ../sass/jean.scss */
#t4 {
  background: url("../img/trabalhos/jean/t4.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}

/* line 3, ../sass/jean.scss */
#t5 {
  background: url("../img/trabalhos/jean/t5.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}

/* line 3, ../sass/jean.scss */
#t6 {
  background: url("../img/trabalhos/jean/t6.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}

/* line 3, ../sass/jean.scss */
#t7 {
  background: url("../img/trabalhos/jean/t7.jpg");
  width: 154px;
  height: 300px;
  /*a{
  			height:300px;
  	}*/
}
